{% load static %}
{% load render_partial %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'Bootstrap/dist/css/bootstrap-reboot.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'Bootstrap/dist/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'Bootstrap/dist/css/bootstrap-grid.css' %}">

    <!-- Main Styles CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/fonts.min.css' %}">

    <!-- Main Font -->
    <script src="{% static 'js/webfontloader.min.js' %}"></script>
    <script>
        WebFont.load({
            google: {
                families: ['Roboto:300,400,500,700:latin']
            }
        });
    </script>
</head>
<body>
<div class="main-header main-header-fullwidth main-header-has-header-standard">


    <div class="header--standard header--standard-landing" id="header--standard">
        <div class="container">
            <div class="header--standard-wrap">

                <a href="#" class="logo">
                    <div class="img-wrap">
                        <img src="{% static 'img/logo.png' %}" alt="Olympus">
                        <img src="{% static 'img/logo-colored-small.png' %}" alt="Olympus" class="logo-colored">
                    </div>
                    <div class="title-block">
                        <h6 class="logo-title">olympus</h6>
                        <div class="sub-title">SOCIAL NETWORK</div>
                    </div>
                </a>

            </div>
        </div>
    </div>

    <!-- ... end Header Standard Landing  -->

    <div class="header-spacer--standard"></div>

    <div class="content-bg-wrap bg-landing"></div>

    <div class="container">
        <div class="row display-flex">

            <div class="col col-xl-10 ml-auto col-lg-6 col-md-12 col-sm-12 col-12">


                <!-- Login-Registration Form  -->

                <div class="registration-login-form">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#home" role="tab">
                                <svg class="olymp-login-icon">
                                    <use xlink:href="{% static 'svg-icons/sprites/icons.svg' %}#olymp-login-icon"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#profile" role="tab">
                                <svg class="olymp-register-icon">
                                    <use xlink:href="{% static 'svg-icons/sprites/icons.svg' %}#olymp-register-icon"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        {% include 'account/register.html' %}

                    </div>
                </div>

                <!-- ... end Login-Registration Form  -->
            </div>
        </div>
    </div>

    <img class="img-rocket" src="{% static 'img/rocket.png' %}" alt="rocket">
</div>
<!-- Clients Block -->



<!-- ... end Window-popup-CHAT for responsive min-width: 768px -->


<a class="back-to-top" href="#">
    <img src="{% static 'svg-icons/back-to-top.svg' %}" alt="arrow" class="back-icon">
</a>
<script src="{% static 'js/jquery-3.2.1.js' %}"></script>
<script src="{% static 'js/jquery.appear.js' %}"></script>
<script src="{% static 'js/jquery.mousewheel.js' %}"></script>
<script src="{% static 'js/perfect-scrollbar.js' %}"></script>
<script src="{% static 'js/jquery.matchHeight.js' %}"></script>
<script src="{% static 'js/svgxuse.js' %}"></script>
<script src="{% static 'js/imagesloaded.pkgd.js' %}"></script>
<script src="{% static 'js/Headroom.js' %}"></script>
<script src="{% static 'js/velocity.js' %}"></script>
<script src="{% static 'js/ScrollMagic.js' %}"></script>
<script src="{% static 'js/jquery.waypoints.js' %}"></script>
<script src="{% static 'js/jquery.countTo.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/material.min.js' %}"></script>
<script src="{% static 'js/bootstrap-select.js' %}"></script>
<script src="{% static 'js/smooth-scroll.js' %}"></script>
<script src="{% static 'js/selectize.js' %}"></script>
<script src="{% static 'js/swiper.jquery.js' %}"></script>
<script src="{% static 'js/moment.js' %}"></script>
<script src="{% static 'js/daterangepicker.js' %}"></script>
<script src="{% static 'js/simplecalendar.js' %}"></script>
<script src="{% static 'js/fullcalendar.js' %}"></script>
<script src="{% static 'js/isotope.pkgd.js' %}"></script>
<script src="{% static 'js/ajax-pagination.js' %}"></script>
<script src="{% static 'js/Chart.js' %}"></script>
<script src="{% static 'js/chartjs-plugin-deferred.js' %}"></script>
<script src="{% static 'js/circle-progress.js' %}"></script>
<script src="{% static 'js/loader.js' %}"></script>
<script src="{% static 'js/run-chart.js' %}"></script>
<script src="{% static 'js/jquery.magnific-popup.js' %}"></script>
<script src="{% static 'js/jquery.gifplayer.js' %}"></script>
<script src="{% static 'js/mediaelement-and-player.js' %}"></script>
<script src="{% static 'js/mediaelement-playlist-plugin.min.js' %}"></script>

<script src="{% static 'js/base-init.js' %}"></script>
<script defer src="{% static 'fonts/fontawesome-all.js' %}"></script>

<script src="{% static 'Bootstrap/dist/js/bootstrap.bundle.js' %}"></script>

</body>
</html>